body, html {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

#content {
    padding-left: 180px;
    height: 100%;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar {
    background-color: white;
    text-align: center;
    position: fixed;
    width: 150px;
    height: 100%;
    padding: 0;
    box-shadow: 2px 0 2px lightgrey;
    overflow: hidden;
}

.sr .header {
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    width: 50px;
    display: block;
    margin: 0 auto;
    height: 50px;
    border-radius: 50px;
    background-size: auto 52px;
    background-position: -1px -1px; 
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .05);
    margin-bottom: 5px;
}

#context_header .sr {
    margin: 0 auto;
}

.sr .header.tall {
    background-position: center; 
}

.sr:hover .header, .sr:focus .header {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.sr:active .header {
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

#srlist {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 150px;
    background-color: white;
    margin: 0;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    bottom: 0;
}

#srlist .selected {
    background-color: rgba(0, 0, 0, .1);
}

.sr {
    margin: 0 0;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 75px;
}

#content .name {
    font-size: 24px;
}

#srlist .sr {
    display: inline-block;
    padding: 15px;
}

.sr .name {
    color: rgba(0, 0, 0, .75);
    font-weight: bold;
    font-size: 12px;
}

.status_loading {
    display: none;
}


.loading .status_loading {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
}

#content_body {
    Width: 100%;
}

.link {
    display: block;
    text-align: left;
    margin: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 5px grey;
    height: 100px;
}

.link .title {
    display: inline;
}

.link .title a {
    display: table;
    color: black;
    height: 100%;
    text-decoration: none;
    font-size: 16px;
    padding: 0 15px;
    margin: 0 auto;
}

.link .title a span {
    vertical-align: middle;
    display: table-cell; 
}

.link .thumb img {
    height: 100px;
}

.link .thumb {
    line-height: 0;
    float: left;
    width: 100px;
    overflow: hidden;
}

.score, .comments {
    float: right;
    width: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
    height: 100px;
    vertical-align: middle;
    color: rgba(0, 0, 0, .6);
    position: relative;
}

.score label, .comments label {
    display: block;
    line-height: normal;
    color: rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .1);
    line-height: 20px;
    font-weight: bold;
}

.score {
    float: left;
}

.score div, .comments div {
    position: relative;
    line-height: 80px;
}

.app_title {
    height: 40px;
    line-height: 40px;
    margin: 0;
    color: rgba(0, 0, 0, .8);
}
