body, html {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 3px
}

::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, .25);`
}

#content {
    padding-left: 150px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar {
    z-index: 10;
    background-color: white;
    text-align: center;
    position: fixed;
    width: 150px;
    height: 100%;
    padding: 0;
    box-shadow: 2px 0 2px lightgrey;
    overflow: hidden;
}

.sr .header {
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    width: 50px;
    margin: 0 auto;
    height: 50px;
    border-radius: 50px;
    background-size: auto 52px;
    background-position: -1px -1px; 
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .05);
    margin-bottom: 5px;
}

#context_header .sr {
    margin: 0 auto;
    display: block;
    padding-top: 5px;
}

.sr .header.tall {
    background-position: center; 
}

.sr:hover .header, .sr:focus .header {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.sr:active .header {
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

#srlist {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 150px;
    background-color: white;
    margin: 0;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    bottom: 0;
}

#srlist .selected {
    background-color: rgba(0, 0, 0, .1);
}

.sr {
    margin: 0 0;
    text-decoration: none;
    text-align: center;
    width: 75px;
}

#content .name {
    font-size: 1.5em;
}

#srlist .sr {
    display: inline-block;
    padding: 15px;
}

.sr .name {
    color: rgba(0, 0, 0, .75);
    font-weight: bold;
    font-size: .9em;
}

.status_loading {
    display: none;
}


.loading .status_loading {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
}

#content_body {
    Width: 100%;
}

.outerlink {
    margin: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 5px grey;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, .1);
}

.link {
    display: table;
    table-layout: fixed;
    width: 100%;
    vertical-align: left;
}

.link .title {
    height: 100px;
    display: table-cell; 
    text-align: center;
    vertical-align: middle;
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 0 15px;
    margin: 0 auto;
}

.link .thumb img {
    width: 100px;
}

.link .thumb .imgwrap {
    max-height: 100px;
}

.link .thumb {
    line-height: 0;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
}

.outerlink .selftext {
    font-size: 13px;
}

.status {
    display: block;
    line-height: 25px;
    padding: 0 5px;
    height: 25px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    -moz-box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.score, .comments {
    color: rgba(0, 0, 0, .8) !important;
    text-decoration: none;
}

.score {
    float: left;
}

.comments {
    float: right;
}

.app_title {
    height: 40px;
    line-height: 40px;
    margin: 0;
    color: rgba(0, 0, 0, .8);
}

@media only screen and (max-width: 800px) {
    .link .thumb .imgwrap {
        max-height: 200px;
    }
    .link .title {
        height: initial;
        display: table-row;
    }
}

@media only screen and (max-width: 550px) {
    body  {
        font-size: .8em;
    }
    .link .title {
        font-size: 1.3em;
    }
    .status {
        height: 32px;
        font-size: 14px;
        line-height: 32px;
    }
    #content {
        padding-left: 100px;
    }
    #sidebar {
        width: 100px;
    }
    #srlist {
        width: 100px;
    }
    #srlist .sr {
        padding: 5px;
    }
    .app_title {
        font-size: 1.3em;
    }
}
